In [1]:
import numpy as np
import pandas as pd
import calendar
import os
os.chdir('C:\\')

In [2]:
df = pd.read_excel('Date_Month_Raw.xlsx')

In [27]:
df['Month'] = df['Order Date'].dt.month
df['Month Name'] = df['Month'].apply(lambda x : calendar.month_abbr[x])
df.head()

  Order Date  Month Month Name
0 2018-04-15      4        Apr
1 2018-07-16      7        Jul
2 2018-10-19     10        Oct
3 2018-09-10      9        Sep
4 2018-09-19      9        Sep

In [5]:
df['Weekdays'] = df['Order Date'].dt.weekday

In [9]:
df['Day Name'] = df['Weekdays'].apply(lambda x : calendar.day_name[x])

In [10]:
df.head()

  Order Date  Weekdays   Day Name
0 2018-04-15         6     Sunday
1 2018-07-16         0     Monday
2 2018-10-19         4     Friday
3 2018-09-10         0     Monday
4 2018-09-19         2  Wednesday